<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/dark.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>poisions-inventory</title>
</head>
<body>
  <nav>
    <a href="/add_poison" class="nav-btn">Add new poision</a>
    <a href="/edit_symptom" class="nav-btn">Edit symptoms</a>
  </nav>
  <main>
    <% poisions.forEach(poision => { %>
      <div class="poision-card">
        <h2><%= poision.poisionName %></h2>
        <p><strong>Toxin Type:</strong> <%= poision.toxin_type %></p>
        <p><strong>Lethality Level:</strong> <%= poision.lethality_level %></p>
        <p><strong>Symptoms:</strong> <%= poision.symptoms.map(s => s.symptom_name).join(', ') %></p>    
        <a href="/edit/<%=poision.poision_id%>" class="edit-btn">Edit</a>
        <form action="/delete/<%=poision.poision_id%>" method="post">
          <button type="submit" class="delete-btn">Delete</button>
        </form>
      </div>
    <% }) %>
  </main>
</body>
</html>